.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.heading {
  font-size: 32px;
  font-family: 'Roboto';
  color: #326a9d;
  align-self: center;
}
.desc {
  font-size: 18px;
  font-family: 'Roboto';
  color: #64748b;
  align-self: center;
}
.banner-btn {
  font-family: 'Roboto';
  font-size: 20px;
  border: 2px solid #326a9d;
  border-radius: 5px;
  background-color: transparent;
  color: #326a9d;
  align-self: center;
  padding: 15px;
}

.banner-card {
  border: 2px solid #cbced2;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 30px;
  width: 1200px;
}
